.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  user-select: none;
  padding: 0 32px 24px 32px;

  &__title {
    text-align: center;
    padding: 15px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand);
    background-color: var(--brand-light-2);
    border: none;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 12px;

    &_active {
      background-color: var(--brand);
      color: var(--white);
    }

    &:hover {
      background-color: var(--brand-light-1);
    }

    &_active {
      background-color: var(--brand);
      color: var(--white);
    }

    &:disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
}
