.load__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cart {
  margin: 0 24px 0 auto;
  width: 560px;
  min-height: 200px;
  box-shadow: var(--shadow);
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  font-family: var(--font-family-base);

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 84px;
    width: 512px;
    border-bottom: 1px solid var(--gray-light);

    &_title {
      width: 144px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &_ordersBlock {
      display: flex;
      background-color: var(--brand-light-2);
      align-items: center;
      width: 156px;
      justify-content: space-between;
      border-radius: 12px;

      &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--brand);
        background-color: var(--brand-light-2);
        border: none;
        cursor: pointer;
        width: 52px;
        height: 52px;

        &:first-child {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }

        &:last-child {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }

        &:hover {
          background-color: var(--brand-light-1);
        }

        &:disabled {
          opacity: 0.4;
          cursor: no-drop;
        }
      }

      &_count {
        font-weight: 700;
        line-height: 20px;
      }
    }

    &_price {
      font-weight: 700;
      font-size: 20px;
      width: 112px;
      text-align: right;
    }

    &_priceDescription {
      display: flex;
      flex-direction: column;
    }

    &_supPrice {
      margin: 0;
      font-size: 12px;
      color: var(--gray);
      text-align: right;
    }

    &_delete {
      width: 112px;
      display: flex;
      font-size: 16px;
      font-weight: 700;
      justify-content: end;
      gap: 4px;
      cursor: pointer;
      color: var(--focus);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__total {
    display: flex;
    height: 48px;
    justify-content: space-between;
    font-weight: 700;
    align-items: flex-end;
    margin-bottom: 16px;

    &_title {
      font-size: 20px;
      font-weight: 700;
    }

    &_price {
      font-size: 28px;
      font-weight: 800;
      font-family: var(--font-price);
    }
  }

  &__button {
    border-radius: 12px;
    border: none;
    background-color: var(--brand);
    color: var(--white);
    width: 100%;
    height: 52px;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-family-base);

    &:hover {
      background-color: var(--brand-light-1);
    }

    &:disabled {
      opacity: 0.4;
      cursor: no-drop;
    }
  }

  &__empty {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 16px;
    // height: 100%;
    margin: 0 50px 0 auto;
    width: 560px;
    min-height: 200px;
    box-shadow: var(--shadow);
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    font-family: var(--font-family-base);

    &_clear {
      cursor: pointer;
      color: var(--gray);
      text-transform: capitalize;
      font-size: 16px;
      text-decoration: none;
      align-self: end;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &_link {
      cursor: pointer;
      color: var(--gray);
      text-transform: capitalize;
      font-size: 16px;
      text-decoration: none;
      align-self: start;

      &:hover {
        color: var(--brand);
      }
    }

    &_title {
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize;
      align-self: start;
    }

    &_info {
      align-self: center;

      &_text {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
