.container {
  position: relative;

  .header {
    width: 100%;
    background-color: var(--brand-light-3);
    position: fixed;
    top: 0;
    z-index: 50;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
    font-weight: 700;
    border-bottom: 1px solid var(--brand-light-2);
    user-select: none;

    &__logo {
      display: block;

      &.invisible {
        display: none;
      }
    }

    &__back_button {
      display: none;
      cursor: pointer;
      color: var(--brand);
      background-color: transparent;
      border: none;
      transition: color 0.3s;
      z-index: 10;

      &:hover {
        transform: scale(0.9);
      }

      &:active {
        transform: scale(1.1);
      }

      &.visible {
        display: flex;
        width: 150px;
        align-items: center;
        gap: 8px;
      }
    }

    &__navigation {
      display: flex;
      gap: 16px;

      &_link {
        line-height: 24px;
        color: var(--black);
        text-decoration: none;

        &:hover {
          color: var(--brand);
        }

        &_active {
          text-decoration: underline;
          text-decoration-thickness: 3px;
          text-underline-offset: 8px;
          color: var(--brand);
        }
      }
    }

    //стили для кнопки корзины, если корзина реализована не через модальное окно
    &__cart {
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 24px;
      color: var(--black);
      text-decoration: none;

      &:hover {
        color: var(--brand);
      }

      &_active {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 24px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 8px;
        color: var(--brand);
      }
    }

    //стили для кнопки корзины, если корзина реализована через модальное окно
    &__button {
      display: flex;
      align-items: center;
      gap: 8px;
      line-height: 24px;
      color: var(--black);
      text-decoration: none;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--brand);
      }

      &:active {
        color: var(--brand-light-1);
      }
    }
  }
}
