.container {
  padding: 20px 32px;
  user-select: none;

  & h4 {
    margin: 0;
  }
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  &__block {
    display: flex;
    border: 3px solid var(--brand);
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
    outline: none;
    background-color: var(--white);

    &_clear {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 14px;
      right: 15px;
      cursor: pointer;
    }

    & input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 300px;
      outline: none;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}

.background {
  position: absolute;
  top: 500px;
  left: 50%;
  margin: 0 auto;
  width: 1000px;
  z-index: 1;
  transform: translate(-50%, -50%);
}
