.load__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.products {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;
  grid-gap: 24px;
  margin-inline: 32px;
  font-family: var(--font-family-base);
  font-weight: 400;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 250px);
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media (max-width: 600px) {
    grid-template-columns: 250px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  user-select: none;
  padding: 0 32px 24px 32px;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand);
    background-color: var(--brand-light-2);
    border: none;
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-radius: 12px;

    &_active {
      background-color: var(--brand);
      color: var(--white);
    }

    &:hover {
      background-color: var(--brand-light-1);
    }

    &_active {
      background-color: var(--brand);
      color: var(--white);
    }

    &:disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }

  &__input {
    border: 3px solid var(--brand-light-1);
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
    align-items: center;
    outline: none;
    background-color: var(--white);
    padding: 13px;
    font-size: 16px;
    width: 356px;
    outline: none;

    &:focus-within {
      border: 3px solid var(--brand);
    }
  }
}

// input {
//   display: flex;
//   border: 3px solid var(--brand);
// }
