.load__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.products {
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 250px);
  justify-content: center;
  grid-gap: 24px;
  margin-inline: 32px;
  font-family: var(--font-family-base);
  font-weight: 400;

  &__header {
    display: flex;
    justify-content: end;
    align-items: center;

    &_sort {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 32px;

      & h4 {
        margin: 0;
      }

      &_select {
        border: 3px solid var(--brand-light-1);
        border-radius: 10px;
        outline: none;
        padding: 13px;
        font-size: 16px;
        cursor: pointer;
        user-select: none;
        position: relative;
        appearance: none;

        & option:checked {
          background-color: var(--brand-light-2);
        }

        &:hover {
          border: 3px solid var(--brand);
          color: var(--brand);
        }

        &:focus-within {
          border: 3px solid var(--brand);
          color: var(--brand);
        }
      }
    }
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 250px);
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 250px);
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media (max-width: 600px) {
    grid-template-columns: 250px;
  }
}

.drawer__open {
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand);
  background-color: var(--brand-light-2);
  border: none;
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  transform: rotate(90deg);

  &:hover {
    background-color: var(--brand-light-1);
  }
}
