.load__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product {
  position: relative;
  font-family: var(--font-family-base);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__back {
    position: absolute;
    top: 0;
    left: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--brand);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  &__top {
    display: flex;
    width: 792px;
    height: 422px;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    padding: 24px;
    gap: 24px;

    @media (max-width: 1100px) {
      width: 580px;

      &_image {
        width: 200px;
        height: 200px;
      }
    }

    @media (max-width: 850px) {
      margin-top: 30px;
      padding: 12px;
      margin-inline: 15px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      width: 460px;
      &_image {
        width: 180px;
        height: 180px;
        align-self: center;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;

    @media (max-width: 1100px) {
      font-size: 20px;
    }

    @media (max-width: 600px) {
      width: 460px;
    }
  }

  &__rating {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__price {
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    font-family: var(--font-price);
    margin-bottom: 8px;

    @media (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &__ordersBlock {
    display: flex;
    gap: 8px;
    align-items: center;

    @media (max-width: 1100px) {
      width: 300px;
    }

    &_wrapper {
      display: flex;
      background-color: var(--brand-light-2);
      align-items: center;
      width: 156px;
      justify-content: space-between;
      border-radius: 12px;
    }

    &_count {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }

    &_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--brand);
      background-color: var(--brand-light-2);
      border: none;
      cursor: pointer;
      width: 52px;
      height: 52px;

      &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }

      &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      &:hover {
        background-color: var(--brand-light-1);
      }

      &:disabled {
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }

  &__button {
    border-radius: 12px;
    border: none;
    background-color: var(--brand);
    color: var(--white);
    width: 346px;
    height: 52px;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-family-base);

    @media (max-width: 1100px) {
      width: 250px;
    }

    &:hover {
      opacity: 0.8;
    }

    &_order {
      width: 182px;
      border-radius: 12px;
      border: none;
      background-color: var(--brand);
      color: var(--white);
      height: 52px;
      font-weight: 700;
      cursor: pointer;
      font-family: var(--font-family-base);

      &:hover {
        opacity: 0.8;
      }

      &:disabled {
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }

  &__undo {
    @media (max-width: 600px) {
      display: none;
    }

    &_text {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;

      & p {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__subtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--gray);

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__description {
    width: 792px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 24px;
    position: relative;

    @media (max-width: 1100px) {
      width: 580px;
    }

    @media (max-width: 600px) {
      width: 460px;
    }

    &_text {
      max-height: 268px;
      overflow: hidden;

      &_active {
        max-height: none;
      }
    }

    & h3 {
      margin: 0;
      margin-bottom: 16px;
    }

    & p,
    ul {
      margin: 0;
    }

    &_btn {
      position: relative;
      cursor: pointer;
      display: flex;
      min-width: 100%;
      align-items: baseline;
      justify-content: flex-start;
      width: -moz-fit-content;
      width: fit-content;
      background: none;
      border: none;
      padding: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: var(--brand);

      &::after {
        content: "";
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #fff);
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        height: 60px;
        width: 100%;
        transition: height 0.3s;
      }

      &_active {
        position: relative;
        cursor: pointer;
        display: flex;
        min-width: 100%;
        align-items: baseline;
        justify-content: flex-start;
        width: -moz-fit-content;
        width: fit-content;
        background: none;
        border: none;
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: var(--brand);
      }
    }
  }
}
